<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>    
    <div class="justificado vh100"> 
        <h1>Agrega Una Nueva Cooperativa</h1>
    <form method="post"  >
        <div class="formularios">
        <input  type="input" placeholder="Monto De La cooperativa" name="montoTotal" required>
        <input  type="input" placeholder="Fecha Del Pago" name="fechaPago" required>
        <input  type="input" placeholder="Pagos Mensuales" name="depositoMensual"  required>
        <input  type="input" placeholder="Usuario Responsable" name="responsable" required>
        <input  type="input" placeholder="Meses de duracion de la cooperativa" name="duracion" required>
        <button type="submit" class="boton">Agregar</button>
    </div>
      </form>
      <a href="/Login"><button class="boton">Volver</button></a>
    </div>

</body>
</html>