<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <form>
        <input type="text" name="nuevoUsuario">
        <input type="text" name="nuevoNombre">
        <input type="text" name="nuevaClave">
        <button>Editar</button>
    </form>
</body>
<script>
    let boton = document.querySelector('button')
    boton.addEventListener("click",function(){
        let nuevoUsuario = document.querySelector('[name="nuevoUsuario"]').value
        let nuevoNombre = document.querySelector('[name="nuevoNombre"]').value
        let nuevaClave = document.querySelector('[name]="nuevaClave')
        let datos = {
            nuevoUsuario:nuevoUsuario,
            nuevoNombre:nuevoNombre,
            nuevaClave:nuevaClave
        }
        fetch("/editarUsuarios",{method : "PUT" ,headers : {"Content-Type" : "application/json"},body:  JSON.stringify(datos)})
        .then(response =>{
            if(!response.ok){
              throw new Error(`HTTP error! status: ${response.status}`);
            }else{
              location.replace('/editarUsuarios')
          } 
        })
    })
</script>
</html>