<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div id="cabecera">
      <div>
        <h1>Banco UVM</h1>
      </div>
       
    <div id="formulario">
      <form method="post">
         <input  type="input" placeholder="Usuario" name="userName" required>
          <input  type="password" placeholder="Clave" name="clave"  required>
          <button type="submit" class="boton">Ingresar</button>
      </form>
      <a href="/registrarse" id="botonRegistro"><button class="boton">Registrarse</button>
      </a>
      </div>
                
                  
            
    
    
    
</body>
<script>
</script>
</html>