<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><%= usuario.nombre %></p>
    <p><%= usuario.userName %></p>
    <p><%= usuario.saldo %></p>
    <p><%= usuario.cooperativas %></p>

    <a href="/cooperativa"><button id="boton">Agregar cooperativa</button>

</body>
</html>