<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="centrar">
        <div class="fondos">
            <h1>Bienvenido Administrador <%= admin.nombre %></h1>
            <div id="botonesCont">
                <div class="espacio">
                    <a href="/cooperativas"><button class="boton">Ver cooperativas</button>
                </div>
                <div class="espacio">
                    <a href="/prestamos"><button class="boton">Ver Prestamos</button></a>
                </div>
                <div class="espacio">
                    <a href="/verUsuarios"><button class="boton">Ver Usuarios</button></a>
                </div>
                <div class="espacio">
                    <a href="/prestamos"><button class="boton">Ver Prestamos</button></a>
                </div>
                <div class="espacio">
                    <a href="/logout"><button class="boton">Cerrar Sesion</button></a>
                </div>
                
            </div>
        </div>
        
    </div>


</body>
</html>