<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <form method="post"  >
        <input  type="input" placeholder="Usuario" name="userName" required>
        <input  type="input" placeholder="Nombre" name="nombre" required>
        <input  type="password" placeholder="Clave" name="clave"  required>
        <button type="submit" class="boton">Agregar</button>
      </form>
      <a href="/Home"><button class="boton">Volver</button></a>

</body>
</html>